language: php

sudo: false

php:
  - 7.0
  - 7.1

matrix:
  include:
    - php: 7.0
      env: COMPOSER_REQUIRE="symfony/process:^2.0"
    - php: 7.0
      env: COMPOSER_REQUIRE="symfony/process:^3.0"

before_script:
  - composer self-update
  - if [ -n "$COMPOSER_REQUIRE" ]; then composer require --no-update $COMPOSER_REQUIRE; fi
  - composer update $COMPOSER_OPTIONS
